<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>BestMatching | Home</title>
        <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static',filename='assets/images/icon.png')}}"/>



        <link href="{{url_for('static',filename='assets/css/bootstrap.min.css')}}" rel="stylesheet">
        <link href="{{url_for('static',filename='assets/css/bootstrap-theme.min.css')}}" rel="stylesheet">

        <link href="{{url_for('static',filename='assets/css/owl.carousel.css')}}" rel="stylesheet">
        <link href="{{url_for('static',filename='assets/css/owl.theme.default.min.css')}}" rel="stylesheet">

        <link href="{{url_for('static',filename='assets/css/magnific-popup.css')}}" rel="stylesheet">

        <link href="{{url_for('static',filename='assets/css/style.css')}}" rel="stylesheet">


        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
	    
        <div id="menu-item" class="menu-item hide-menu">
            <div class="container">
		<br><br><br><br>
                <ul>
                    <a href="#about"><li>about</li></a>
                    <a href="{{url_for('renderlogin')}}"><li>Login</li></a>
                    <a href="{{url_for('rendersignup')}}"><li>Registrazione</li></a>
                    <a href="#team"><li>team</li></a>
                    <a href="#contact"><li>contact</li></a>
                </ul>
            </div>
        </div>
        <div class="main">
            <header class="bg-img header">
                <nav class="navbar navbar-default navbar-ubutia">
                    <div class="container">
                        <div class="navigation-bar">
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="logo">
                                        <a href="index.html"><img src="{{url_for('static',filename='assets/images/logo1.png')}}"/></a>
                                    </div>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <div class="menu m">
                                        <a href="#"><span class="ion-navicon _ion-android-menu"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
                <div class="container">
                    <div class="row">
                        <div class="intro-box">
                            <div class="intro">
                                <h1>Best#Matching</h1>
                                <p>Troviamo la soluzione migliore per te!</p>
                                <a class="btn ubutia-btn" href="#about">Explore us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <section id="about" class="about section">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2">
                            <h2 class="title">About Best#Matching</h2>
                            <p>
                              E` un idea nata da due studenti dell'Universita' degli Studi di Napoli Parthenope. Si propone come obiettivo quello di trovare personale qualificato a qualsiasi tipo di situazione in maniera oggettiva e ottima.
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="purpose section">
                <div class="container">
                    <h2 class="title">How we do</h2>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="ubutia-card">
                                <div class="ubutia-card-header">
                                    <div class="card-icon">
                                        <span class="graphic-design" aria-hidden="true"></span>
                                    </div>
                                </div>
                                <div class="ubutia-card-content">
                                    <h3>Scegli un progetto</h3>
                                    <p>
                                      Sei in cerca di lavoro? Scegli un progetto, compila i campi con le tue skills e iscriviti! 
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="ubutia-card">
                                <div class="ubutia-card-header">
                                    <div class="card-icon">
                                        <span class="webdevelopment" aria-hidden="true"></span>
                                    </div>
                                </div>
                                <div class="ubutia-card-content">
                                    <h3>Crea un Progetto</h3>
                                    <p>
                                        Sei in cerca di personale qualificato? Crea un progetto specificando le abilita' di cui hai bisogno per completare il tuo lavoro. Inserisci una data di scadenza progetto e una descrizione sommaria del progetto.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="ubutia-card">
                                <div class="ubutia-card-header">
                                    <div class="card-icon">
                                        <span class="printing" aria-hidden="true"></span>
                                    </div>
                                </div>
                                <div class="ubutia-card-content">
                                    <h3>Ci penseremo noi</h3>
                                    <p>
                                        Troveremo la soluzione migliore per te. Il nostro algoritmo esaminera' gli eventuali candidati trovando i migliori per il tuo lavoro e minimizzando il costo d'impresa. Ti verranno proposte le soluzioni ottime al tuo problema. Ma ricorda! Accettare o meno sara' a tua completa discrezione! 
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="ubutia-quote section bg-img">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <img class="quote" src="{{url_for('static',filename='assets/images/quote.png')}}">
                           <p>
				Dicette Pulecenella: 'Nu maccarone vale cchiù 'e ciente vermecielle'			                                     
                           </p>
                           <p class="author">Disse Pulcinella: Un maccarone vale più di cento vermicelli</p>
                        </div>
                    </div>
                </div>
            </section>
            <section id="team" class="team section">
                <div class="container">
                    <h2 class="title">Our team</h2>
                    <div class="row">
                        <div class="col-sm-2">

                        </div>
                         <div class="col-sm-4">
                            <div class="ubutia-card">
                                <div class="ubutia-card-header">
                                    <img class="img-responsive" src="{{url_for('static',filename='assets/images/9.jpg')}}">
                                </div>
                                <div class="ubutia-card-content">
                                    <h3>Antonio Di Marino</h3>
                                    <p>
                                        Studente dell'Universita' degli studi di Napoli Parthenope
                                    </p>
                                    <div class="social-icons">
                                        <ul>
                                            <a href="https://www.facebook.com/admarino1"><li><span class="ion-social-facebook"></span></li></a>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="ubutia-card">
                                <div class="ubutia-card-header">
                                    <img class="img-responsive" src="{{url_for('static',filename='assets/images/8.jpg')}}">
                                </div>
                                <div class="ubutia-card-content">
                                    <h3>Vincenzo Scarrica</h3>
                                    <p>
                                        Studente dell'Universita' degli studi di Napoli Parthenope
                                    </p>
                                    <div class="social-icons">
                                        <ul>
                                            <a href="https://it-it.facebook.com/enzo.scarrica"><li><span class="ion-social-facebook"></span></li></a>
                                            <a href="#"><li><span class="ion-social-twitter"></span></li></a>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">

                        </div>
                    </div>
                </div>
            </section>
            <section class="subscribe section bg-img">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <p>Iscriviti alla nostra newsletter per restare aggiornato</p>
                            <form class="form-inline">
                                <div class="form-group">
                                    <input type="email" class="form-control" id="user-email" placeholder="Write your email here....">
                                </div>
                                <button type="submit" class="btn ubutia-btn">Send me</button>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
            <section id="contact" class="contact section">
                <div class="container">
                    <h2 class="title">Drop us a line</h2>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="ubutia-card">
                                <div class="ubutia-card-header">
                                        <span class="fa fa-map-o" aria-hidden="true"></span>
                                </div>
                                <div class="ubutia-card-content">
                                    <h3>Address</h3>
                                    <p>
                                        Non abbiamo nessun ufficio
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="ubutia-card">
                                <div class="ubutia-card-header">
                                        <span class="fa fa-phone" aria-hidden="true"></span>
                                </div>
                                <div class="ubutia-card-content">
                                    <h3>Phone</h3>
                                    <p>
                                        Non disponibile
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="ubutia-card">
                                <div class="ubutia-card-header">
                                        <span class="fa fa-paper-plane" aria-hidden="true"></span>
                                </div>
                                <div class="ubutia-card-content">
                                    <h3>Email</h3>
                                    <p>dimarinoa55@gmail.com
                                       vincenzo.scarrica@gmail.com</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="social-icons">
                                <ul>
                                    <a href="#"><li><span class="ion-social-facebook"></span></li></a>
                                    <a href="#"><li><span class="ion-social-twitter"></span></li></a>
                                    <a href="#"><li><span class="ion-social-pinterest"></span></li></a>
                                </ul>
                            </div>
                            <span><p>A breve disponibili!</p></span>
                        </div>
                    </div>
                </div>
            </section>
            <footer class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <p>Progetto TecWeb <font class="logo-icon"></font> by Antonio Di Marino & Vincenzo Scarrica</a></p>
                        </div>
                    </div>
                </div>
            </footer>
        </div>


        <script src="{{url_for('static',filename='assets/js/jquery-3.1.1.js')}}"></script>
        <script src="{{url_for('static',filename='assets/js/bootstrap.min.js')}}"></script>
        <script src="{{url_for('static',filename='assets/js/owl.carousel.min.js')}}"></script>
        <script src="{{url_for('static',filename='assets/js/jquery.magnific-popup.js')}}"></script>
        <script src="{{url_for('static',filename='assets/js/script.js')}}"></script>
    </body>
</html>
